In [414]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json

In [233]:
r = requests.get('https://www.rotowire.com/betting/nfl/tables/games-archive.php')
content = r.content
soup = BeautifulSoup(content,'html.parser')

In [235]:
raw = json.loads(soup.text)

In [236]:
df = pd.DataFrame(raw)

In [239]:
df.head()

,season,week,game_date,game_time,home_team_id,home_team_stats_id,home_team_abbrev,visit_team_id,visit_team_stats_id,visit_team_abbrev,...,kickoff,month,start,score,total,spread,over_hit,under_hit,favorite_covered,underdog_covered
0,1983,1,1983-09-03 00:00:00,18,27,SF,SF,23,PHI,PHI,...,Sep 3 6:00 PM,September,Night,22-17,39,4.0,0,1,0,1
1,1983,1,1983-09-04 00:00:00,12,19,NO,NO,1,ARI,SLC,...,Sep 4 12:00 PM,September,Day,17-28,45,3.0,1,0,1,0
2,1983,1,1983-09-04 00:00:00,13,4,BUF,BUF,16,MIA,MIA,...,Sep 4 1:00 PM,September,Day,12-0,12,4.0,0,1,0,1
3,1983,1,1983-09-04 00:00:00,13,6,CHI,CHI,2,ATL,ATL,...,Sep 4 1:00 PM,September,Day,20-17,37,1.5,0,1,0,1
4,1983,1,1983-09-04 00:00:00,13,7,CIN,CIN,22,OAK,LAD,...,Sep 4 1:00 PM,September,Day,20-10,30,2.0,0,1,0,1

In [237]:
df.shape

(9113, 32)

In [238]:
df.columns

Index(['season', 'week', 'game_date', 'game_time', 'home_team_id',
       'home_team_stats_id', 'home_team_abbrev', 'visit_team_id',
       'visit_team_stats_id', 'visit_team_abbrev', 'home_team_score',
       'visit_team_score', 'game_over_under', 'line', 'surface',
       'weather_icon', 'temperature', 'precip_probability', 'precip_type',
       'wind_speed', 'wind_bearing', 'name', 'kickoff', 'month', 'start',
       'score', 'total', 'spread', 'over_hit', 'under_hit', 'favorite_covered',
       'underdog_covered'],
      dtype='object')

In [539]:
df.to_csv('archive.csv')